---
---

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  font-family: 'PT Sans', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 650px;
}

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-title {
  text-align: center;
}

.post-title-- {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
}

.post-meta-- {
  opacity: .2;
  font-weight: 900;
  font-family: monospace;
}

.post-link-- {
  color: blue;
  margin-left: 5px;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 2px;
}

.post-link--:hover {
  border-bottom: 2px solid blue;
}
