---
---

@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans|PT+Serif');
@import "library/normalize.css";

$dark-blue: #086788;
$light-blue: #06AED5;
$yellow: #F0C808;
$white: #FFF;
$navy: #001f3f;

$sans-serif: 'PT Sans', sans-serif;
$serif: 'PT Serif', serif;
$monospace: 'PT Mono', monospace;

body {
  font-family: $sans-serif;
  background: $white;
}

.container {
  margin: 0 auto;
  max-width: 650px;
}

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  li {
    display: inline-block;
  }
}

.header-- {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 5px;
  li {
    a {
      text-decoration: none;
      color: $dark-blue;
    }
  }
}

.post-- {
  font-family: $serif;
}

.post-title {
  text-align: center;
  margin: 0;
}

.post-title-- {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  background: $navy;
  font-size: 36px;
  padding: 20px;
  color: $white;
}

.post-meta-- {
  color: $dark-blue;
  opacity: .4;
  font-weight: 900;
  font-family: $monospace;
  letter-spacing: 3px;
}

.post-link-- {
  color: $dark-blue;
  margin-left: 5px;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 2px;
}

.post-link--:hover {
  border-bottom: 2px solid $dark-blue;
}
